# Database
DATABASE_URL="postgresql://user:password@localhost:5432/audvote"

# Docker Compose
POSTGRES_USER="audvote"
POSTGRES_PASSWORD="your_password_here"
POSTGRES_DB="audvote"

# Auth.js
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"